{{extend '../base/layout'}}
{{block 'css'}}
<link rel="stylesheet" href="/assets/css/view.css"/>
<style>

</style>
{{/block}}
{{block 'content'}}
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
            <h2 class="title">代付订单</h2>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-form-mid">应用: </div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="app_id" class="query_app_id">
                                    <option value="">全部</option>
                                    {{each appList item}}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="layui-form-mid">支付渠道: </div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="channel_id" class="query_channel_id">
                                    <option value="">全部</option>
                                    {{each channelList item}}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="layui-form-mid">商户订单号: </div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="mer_order_no" autocomplete="off" class="layui-input query_mer_order_no">
                            </div>
                            <div class="layui-form-mid">状态:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="status" class="query_status">
                                    <option value="">全部</option>
                                    {{each orderStatus item}}
                                    <option value="{{item.status}}">{{item.title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="layui-form-mid">环境:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="environment" class="query_environment">
                                    <option value="">全部</option>
                                    <option value="production">production</option>
                                    <option value="sandbox">sandbox</option>
                                </select>
                            </div>
                            <div class="layui-form-mid">日期:</div>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" name="start_time" readonly placeholder="开始时间" class="layui-input query_date query_start_time">
                            </div>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" name="end_time" readonly placeholder="结束时间" class="layui-input query_date query_end_time">
                            </div>
                            <button class="layui-btn layui-btn-primary item-query-info">查询</button>
                        </div>
                    </div>

                    <table class="layui-table" lay-filter="itemList" id="itemList">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: -5000px;">
    <div id="model" class="layui-tab-item" style="display: none;">
        <form class="layui-form layui-card-body">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">查询结果</label>
                <div class="layui-input-block">
                    <pre class="item_query_payment_order"></pre>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
{{/block}}
{{block 'script'}}
<script>
    var table = layui.table;
    var form = layui.form;
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '.query_date', //指定元素
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime'
        });
    });
    $('.item-query-info').click(function () {
        var status = $('.query_status').val();
        var app_id = $('.query_app_id').val();
        var channel_id = $('.query_channel_id').val();
        var mer_order_no = $('.query_mer_order_no').val();
        var start_time = $('.query_start_time').val();
        var end_time = $('.query_end_time').val();
        var environment = $('.query_environment').val();
        showList({status, app_id, channel_id, mer_order_no, start_time, end_time, environment});
    });
    function showList(param) {
        table.render({
            elem: '#itemList'
            ,url: '/backend/trade/payoutOrder'
            ,method: 'POST'
            ,totalRow: true
            ,cols: [[ //标题栏
                {field: 'id', title: 'ID', width: 60, fixed: 'left', sort: true}
                ,{field: 'app_name', title: '应用', minWidth: 50}
                ,{field: 'channel_name', title: '支付渠道', width: 150}
                ,{field: 'create_time', title: '订单时间', width: 180}
                ,{field: 'order_no', title: '交易订单号', minWidth: 50}
                ,{field: 'mer_order_no', title: '商户订单号', minWidth: 50}
                ,{field: 'currency', title: '货币类型', minWidth: 50}
                ,{field: 'amount', title: '金额', minWidth: 50}
                ,{field: 'async_nums', title: '回调次数', minWidth: 50}
                ,{field: 'pay_time', title: '支付时间', minWidth: 50}
                ,{field: 'environment', title: '环境', minWidth: 50}
                ,{field: 'status', title: '状态', minWidth: 100, templet: function (d) {
                        if (d.status == 0) {
                            return '<span style="color: #1E9FFF">订单生成</span>';
                        } else if (d.status == 1) {
                            return '<span style="color: orange">支付中</span>';
                        } else if (d.status == 2) {
                            return '<span style="color: green">支付成功</span>';
                        } else if (d.status == -1) {
                            return '<span style="color: red">交易失败</span>';
                        } else if (d.status == -2) {
                            return '<span style="color: red">交易过期</span>';
                        } else {
                            return '其他';
                        }
                    }}
                ,{field: 'msg', title: 'Message', minWidth: 50}
                ,{field: '', title: '操作', width: 80, fixed: 'right', templet: function (d) {
                        var btnHtml = '<a class="layui-btn layui-btn-xs layui-btn-blue" lay-event="query">查询</a>';
                        if (d.status == 2) {
                            // btnHtml += '<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="callback_again">重新回调</a>';
                        }
                        // btnHtml += '<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="callback_test">测试回调</a>';
                        return btnHtml;
                    }}
            ]]
            ,skin: 'line' //表格风格
            ,even: true
            ,page: true
            ,limit: 20
            ,limits: [10, 20, 50, 100]
            ,where: param
            ,parseData: function(res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
    }
    //监听操作栏
    table.on('tool(itemList)', function(obj){ // 注：test 是 table 原始标签的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        console.log(data);
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        if (layEvent === 'query') {
            //查询订单状态
            var load = layer.load();
            $.ajax({
                url: "/backend/trade/queryPayout",
                type: 'POST',
                data: {merOrderNo: data.mer_order_no, app_id: data.app_id},
                success: function (res) {
                    layer.close(load);
                    $('.item_query_payment_order').html(syntaxHighlight(res));
                    var type = 'offset';
                    layer.open({
                        type: 1
                        , offset: '10px'
                        , id: 'layerDemo' + type //防止重复弹出
                        , title: '订单号：' + data.mer_order_no
                        , content: $('#model')
                        , area: ['1200px', '600px']//定义宽和高
                        , shade: 0 //不显示遮罩
                    });
                }
            });
        } else if (layEvent === 'callback_again') {
            layer.confirm('确定要再次发起回调吗？', {icon: 3, title:'确认'}, function(index){
                layer.close(index);
                var loads = layer.load();
                $.ajax({
                    url: "/backend/trade/callbackPayoutAgain",
                    type: 'POST',
                    data: {merOrderNo: data.mer_order_no},
                    success: function (res) {
                        layer.close(loads);
                        return layer.msg(res.msg);
                    }
                });
            });
        } else if (layEvent === 'callback_test') {
            layer.confirm('确定要发起测试回调吗？', {icon: 3, title:'确认'}, function(index){
                layer.close(index);
                var loads = layer.load();
                $.ajax({
                    url: "/backend/trade/callbackPayoutTest",
                    type: 'POST',
                    data: {merOrderNo: data.mer_order_no},
                    success: function (res) {
                        layer.close(loads);
                        return layer.msg(res.data.msg);
                    }
                });
            });
        }
    });
    $(function () {
        showList({});
    });
    function syntaxHighlight(json) {
        // json = JSON.parse(json);
        json = JSON.stringify(json, undefined, 2);
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }
</script>
{{/block}}