<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$ht_name}客服中心</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CSS__/font.css">
	<link rel="stylesheet" href="__CSS__/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">{$ht_name}客服中心</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{$username}</a>
            <dl class="layui-nav-child">
              <dd><a href="{:url('chat/parents/logout')}">退出</a></dd>
            </dl>
          </li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            
			<li>
			    <a _href="{:url('User/lists')}">
			        <i class="iconfont">&#xe6b8;</i>
			        <cite>会话列表</cite>			        
			    </a>			    
      </li>
      <li>
        <a _href="{:url('User/zhuanyi')}">
            <i class="iconfont">&#xe6fd;</i>
            <cite>金币转移</cite>			        
        </a>			    
      </li>
      <li>
        <a _href="{:url('User/zylogs')}">
            <i class="iconfont">&#xe6f3;</i>
            <cite>转移记录</cite>     
        </a>			    
      </li>
      <li>
        <a _href="{:url('User/mylogs')}">
            <i class="iconfont">&#xe6f8;</i>
            <cite>我的记录</cite>     
        </a>			    
      </li>
                        
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='{:url("welcome")}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019 youmegame</div>
    </div>
    <!-- 底部结束 -->

</body>
</html>