<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
    <link rel="icon" href="/assets/images/logo.png">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/layui/layui.js"></script>
    {{block 'css'}}
    {{/block}}
</head>
<script>

</script>
<body>

{{block 'content'}}
{{/block}}
<script type="text/javascript">

</script>
{{block 'script'}}
{{/block}}
</body>
</html>