<!DOCTYPE html>
<html>
  
	{include file="public/head" /}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/layui.min.js" integrity="sha512-jVlfkkRyCyrICx3iFs80jgim5Vmg2xVjAdBRCw/E/ZukJPYpjXfTyyiB1Y1gRsBeAC8CJ+jYIk0teYL4qV85gA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/css/layui.min.css" integrity="sha512-omRxviAbZbsRLmYjGYaOjLuafC5Jw17PYyg1eH4XaT5vWx+cOng6t+bq9VyjZBWrUuduYgYuIuD2d3MOz7S2dA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.layui-btn {background-color: #222d32;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #222d32;}
        .other-btn {
            font-size: 13px;
            width: 70px;
            padding: 0;
            margin: 0;
            height: 30px;
            line-height: 30px;
        }
        .layui-table-tool-panel li .layui-form-checkbox[lay-skin=primary] {
			width: auto;
		}
        .layui-panel {
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }
        .block-item {
            padding: 1px 0;
        }
	</style>
	<body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">运营统计</a>
        <a><cite>彩金报表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div>
            子运营商：
            <select id="agent_id" style="width: 150px; height:40px;">
                <option value="0">代理</option>
            </select>
            &nbsp;&nbsp;
            日期：
            <input type="text" id="begin_time" placeholder="开始时间" autocomplete="off" class="layui-input" style="width: 200px; display: inline-block;">
            &nbsp;&nbsp;
            <input type="text" id="end_time" placeholder="结束时间" autocomplete="off" class="layui-input" style="width: 200px; display: inline-block;">
            &nbsp;&nbsp;
            <button class="layui-btn" id="search">搜索</button>
        </div>
        <form class="layui-form layui-col-md12 x-so" style="margin-top: 30px;">
			<!-- <button class="layui-btn" type="button" onclick="x_admin_show('添加活动','{:url('NewActivitys/add')}',800,500)"><i class="layui-icon"></i>添加活动</button> -->
		</form>
		<span class="x-left" id="count" style="line-height:40px"></span>
      </div>
	  <table id="list">
	  </table>
    </div>
	<script>
		 layui.use(['table','laydate'], function(){
            var table = layui.table;
            var laydate = layui.laydate;

             // 渲染时间选择器
             laydate.render({
                elem: '#begin_time',
                type: 'datetime',
                trigger: 'click'
            });
            laydate.render({
                elem: '#end_time',
                type: 'datetime',
                trigger: 'click'
            });

            //第一个实例
            var tableId = table.render({
                elem: '#list'
                ,height: 500
                ,url: "{:url('operateCount/getColorTotal')}" //数据接口
                ,page: {
                    limits: [30,50,100,300,500,1000],
                    limit:30
                }
                ,toolbar: true
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols: [[ //表头
                {field: 'activity_name', title: '活动名称'}
                ,{field: 'fee', title: '彩金金额'}
                ,{field: 'count', title: '参与人数'}
                ]]
                ,done: function(res, curr, count){
                    $('#count').html('共有数据：'+res.count+' 条');
                }
            });

            $('#search').on('click',function() {

                var data = {};
                    data.agent_id = $('#agent_id').val();
                    data.begin_time = $('#begin_time').val();
                    data.end_time = $('#end_time').val();
                    
                var url_str = '';
                for (i in data) {
                    url_str += i +'='+ data[i] + '&';
                }
                url_str = url_str.substring(0, url_str.length - 1);
                tableId.reload({
                    url: "{:url('operateCount/getColorTotal')}?"+ url_str
                });
				return false;
            });
        });
	</script>
    <script>
    </script>
  </body>
</html>