<!DOCTYPE html>
<html>
  
	{include file="public/head" /}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/layui.min.js" integrity="sha512-jVlfkkRyCyrICx3iFs80jgim5Vmg2xVjAdBRCw/E/ZukJPYpjXfTyyiB1Y1gRsBeAC8CJ+jYIk0teYL4qV85gA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/css/layui.min.css" integrity="sha512-omRxviAbZbsRLmYjGYaOjLuafC5Jw17PYyg1eH4XaT5vWx+cOng6t+bq9VyjZBWrUuduYgYuIuD2d3MOz7S2dA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.layui-btn {background-color: #222d32;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #222d32;}
        .other-btn {
            font-size: 13px;
            width: 70px;
            padding: 0;
            margin: 0;
            height: 30px;
            line-height: 30px;
        }
        .layui-table-tool-panel li .layui-form-checkbox[lay-skin=primary] {
			width: auto;
		}
	</style>
	<body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">会员记录</a>
        <a><cite>投注记录</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div>
            子运营商：
            <select id="agent_id" style="width: 150px; height:40px;">
                <option value="0">代理</option>
            </select>
            &nbsp;&nbsp;
            游戏：
            <select id="game_id" style="width: 180px; height:40px;">
                <option value="0">全部</option>
                {foreach $game_list as $k => $v}
                <option value="{$v['gameid']}">{$v['name']}</option>
                {/foreach}
            </select>
            &nbsp;&nbsp;
            用户ID：
            <input type="text" id="uid" name="uid" placeholder="用户ID" autocomplete="off" class="layui-input" style="width: 120px; display: inline-block;">
            牌局编号：
            <input type="text" id="mark_id" name="mark_id" placeholder="牌局编号" autocomplete="off" class="layui-input" style="width: 120px; display: inline-block;">
            <br /><br />
            时间范围：
            <input type="text" id="begin_time" name="mark_begin_time" placeholder="开始时间" autocomplete="off" class="layui-input" style="width: 200px; display: inline-block;">
            &nbsp;&nbsp;
            <input type="text" id="end_time" name="mark_end_time" placeholder="结束时间" autocomplete="off" class="layui-input" style="width: 200px; display: inline-block;">
            &nbsp;&nbsp;
            <button class="layui-btn" id="search">搜索</button>
        </div>
        <form class="layui-form layui-col-md12 x-so" style="margin-top: 30px;">
			<!-- <button class="layui-btn" type="button" onclick="x_admin_show('添加活动','{:url('NewActivitys/add')}',800,500)"><i class="layui-icon"></i>添加活动</button> -->
		</form>
		<span class="x-left" id="count" style="line-height:40px"></span>
      </div>
	  <table id="list">
	  </table>
    </div>
	<script>
		 layui.use(['table','laydate'], function(){
            var table = layui.table;
            var laydate = layui.laydate;

             // 渲染时间选择器
             laydate.render({
                elem: '#begin_time',
                type: 'datetime',
                trigger: 'click'
            });
            laydate.render({
                elem: '#end_time',
                type: 'datetime',
                trigger: 'click'
            });

            //第一个实例
            var tableId = table.render({
                elem: '#list'
                ,height: 500
                ,url: "{:url('member/getBettingList')}" //数据接口
                ,page: {
                    limits: [30,50,100,300,500,1000],
                    limit:30
                }
                ,toolbar: true
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols: [[ //表头
                {field: 'balanceTime', title: '时间'}
                ,{field: 'id', title: '运营商', templet: function(d){
                    return '代理';
                }}
                ,{field: 'id', title: '局号'}
                ,{field: 'name',  title: '游戏'}
                ,{field: 'bfUserCoin', title: '游戏金币'}
                ,{field: 'afUserCoin', title: '游戏后金币'}
                ,{field: 'useCoin', title: '本局下注'}
                ,{field: 'winCoin', title: '本局流水'}
                ,{field: 'winCoin', title: '本局总输赢'}
                ,{field: 'tax', title: '本局税收'}
                ,{field: 'id', title: '游戏详情', templet: function(d) {
                    var daylistUrl = '{:url("agents/daylists")}?id='+d.Id;
                    return '<button type="button" class="layui-btn" onclick="x_admin_show(\'游戏详情\',\''+daylistUrl+'\',800,500)">查看</button>';
                }}
                ]]
                ,done: function(res, curr, count){
                    $('#count').html('共有数据：'+res.count+' 条');
                }
            });

            $('#search').on('click',function() {

                var data = {};
                    data.agent_id = $('#agent_id').val();
                    data.game_id = $('#game_id').val();
                    data.uid = $('#uid').val();
                    data.mark_id = $('#mark_id').val();
                    data.mark_begin_time = $('input[name=mark_begin_time]').val();
                    data.mark_end_time = $('input[name=mark_end_time]').val();
                    
                var url_str = '';
                for (i in data) {
                    url_str += i +'='+ data[i] + '&';
                }
                url_str = url_str.substring(0, url_str.length - 1);
                tableId.reload({
                    url: "{:url('member/getBettingList')}?"+ url_str
                });
				return false;
            });
        });
	</script>
    <script>
    </script>
  </body>
</html>