<!DOCTYPE html>
<html>
  
	{include file="public/head" /}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/layui.min.js" integrity="sha512-jVlfkkRyCyrICx3iFs80jgim5Vmg2xVjAdBRCw/E/ZukJPYpjXfTyyiB1Y1gRsBeAC8CJ+jYIk0teYL4qV85gA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/css/layui.min.css" integrity="sha512-omRxviAbZbsRLmYjGYaOjLuafC5Jw17PYyg1eH4XaT5vWx+cOng6t+bq9VyjZBWrUuduYgYuIuD2d3MOz7S2dA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.layui-btn {background-color: #222d32;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #222d32;}
        .other-btn {
            font-size: 13px;
            width: 70px;
            padding: 0;
            margin: 0;
            height: 30px;
            line-height: 30px;
        }
	</style>
	<body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">活动管理</a>
        <a><cite>活动设置</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <!-- <div>
            子运营商：
            <select id="agent_id" style="width: 150px; height:40px;">
                <option value="0">全部</option>
                {foreach $agent_list as $item}
                <option value="{$item.id}">{$item.username}({$item.id})</option>
                {/foreach}
            </select>
            &nbsp;&nbsp;
            状态：
            <select id="status" style="width: 150px; height:40px;">
                <option value="99">全部</option>
                <option value="0">启用</option>
                <option value="1">禁用</option>
            </select>
            &nbsp;&nbsp;
            <button class="layui-btn" id="search">搜索</button>
        </div> -->
        <!-- <form class="layui-form layui-col-md12 x-so" style="margin-top: 30px;">
			<button class="layui-btn" type="button" onclick="x_admin_show('添加活动','{:url('NewActivitys/add')}',800,500)"><i class="layui-icon"></i>添加活动</button>
		</form> -->
		<span class="x-left" id="count" style="line-height:40px"></span>
      </div>
	  <table id="list">
	  </table>
    </div>
	<script>
		 layui.use(['table','laydate'], function(){
            var table = layui.table;
            var laydate = layui.laydate;

            //第一个实例
            var tableId = table.render({
                elem: '#list'
                ,height: 500
                ,url: "{:url('NewActivitys/getTypeList')}" //数据接口
                ,page: {
                    limits: [30,50,100,300,500,1000],
                    limit:30
                }
                ,toolbar: true
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols: [[ //表头
                 {field: 'id', title: '类型ID', fixed: 'left'}
                ,{field: 'name',  title: '类型名称'}
                ,{field: 'begin_time', title: '开始时间'}
				,{field: 'end_time', title: '结束时间'}
				,{field: 'status', title: '状态', templet: function(d){
                    return d.status == 0 ? "<span style='color:green;'>开启</span>" : "<span style='color:red;'>禁用</span>";
                }}
				,{field: 'Id', title: '操作', width: '200', fixed: 'right', templet: function(d){
                    var btnHtml = '';
                        btnHtml += '<button class="layui-btn other-btn" type="button" onclick="operate(\'edit\',\''+d.id+'\', \''+d.infomation_templet+'\')">编辑</button>';
                        btnHtml += '&nbsp;&nbsp;';
                        btnHtml += '<button class="layui-btn other-btn" type="button" onclick="operate(\'delete\',\''+d.id+'\', \''+d.status+'\')">'+(d.status == 1 ? '启用' : '禁用')+'</button>';
                    return btnHtml;
                }}
                ]]
                ,done: function(res, curr, count){
                    $('#count').html('共有数据：'+res.count+' 条');
                }
            });

            // $('#search').on('click',function() {
            //     var agent_id = $('#agent_id').val();
            //     var status = $('#status').val();
            //     var name = $('#name').val();
            //     tableId.reload({
            //         url: "{:url('NewActivitys/getList')}?agent_id="+agent_id+"&status="+status+"&name="+name
            //     });
			// 	return false;
            // });
        });
        function operate(action, Id, status) {
            if (action == 'delete') {
                var msg = status == 0 ? '禁用' : '启用';
                var status = status == 0 ? 1 : 0;
                layer.confirm('确认要'+msg+'吗？',function(index){
                    $.post("{:url('NewActivitys/deleteType')}",{action:action,Id:Id,status:status},function(data){
                        if (data.status == 0) {
                            layer.msg('已'+msg+'!',function(){
						        window.location.reload();
					        });
                        } else {
                            layer.msg(data.message);
                        }
                    },'Json');
                });
            }
            if (action == 'edit') {
                x_admin_show('设置活动','{:url(\'NewActivitys/editType\')}?id='+Id+'&tem='+status,800,500);
            }
            return false;
        }
	</script>
    <script>
    </script>
  </body>
</html>
