<!DOCTYPE html>
<html>
  
	{include file="public/head" /}
  
  <body class="layui-anim layui-anim-up">
    <div class="x-body">
      <div class="layui-row">
      </div>
      <table class="layui-table">
        <thead>
          <tr>
            <th style="display: none;">
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户ID</th>
            <th>投注筹码</th>
            <th>赢得筹码</th>
            <th>税金</th>
            <th>游戏名</th>
            <th>服务器</th>
            <th>投注时间</th>
		  </tr>
        </thead>
        <tbody>
		{foreach $list as $key=>$vo }
		<tr>
		  <td style="display: none;">
			<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.id}'><i class="layui-icon">&#xe605;</i></div>
		  </td>
		  <td>{$vo.id}</td>
		  <td>{$vo.userId} {$vo.nickname}</td>
		  <td>{$vo.useCoin|showGold}</td>
		  <td>{$vo.winCoin|showGold}</td>
		  <td>{$vo.tax|showGold}</td>
		  <td>{$vo.gameId} {$vo.game_name}</td>
		  <td>{$vo.serverId}</td>
		  <td>{$vo.balanceTime|date="Y-m-d H:i:s"}</td>
		</tr>
		{/foreach}
        </tbody>
      </table>
    </div>
  </body>

</html>