<!DOCTYPE html>
<html>
  
	{include file="public/head" /}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/layui.min.js" integrity="sha512-jVlfkkRyCyrICx3iFs80jgim5Vmg2xVjAdBRCw/E/ZukJPYpjXfTyyiB1Y1gRsBeAC8CJ+jYIk0teYL4qV85gA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/css/layui.min.css" integrity="sha512-omRxviAbZbsRLmYjGYaOjLuafC5Jw17PYyg1eH4XaT5vWx+cOng6t+bq9VyjZBWrUuduYgYuIuD2d3MOz7S2dA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.layui-btn {background-color: #222d32;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #222d32;}
        .other-btn {
            font-size: 13px;
            width: 70px;
            padding: 0;
            margin: 0;
            height: 30px;
            line-height: 30px;
        }
        .layui-table-tool-panel li .layui-form-checkbox[lay-skin=primary] {
			width: auto;
		}
	</style>
	<body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">运营设置</a>
        <a><cite>黑名单设置</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div>
            子运营商：
            <select id="agent_id" style="width: 150px; height:40px;">
                <option value="0">代理</option>
            </select>
            &nbsp;&nbsp;
            <button class="layui-btn" id="search">搜索</button>
            <br /><br />
            <button class="layui-btn" onclick="x_admin_show('添加用户','{:url('OperateSetting/add_black')}',700,400)"><i class="layui-icon"></i>添加黑名单</button>
        </div>
        <form class="layui-form layui-col-md12 x-so" style="margin-top: 30px;">
			<!-- <button class="layui-btn" type="button" onclick="x_admin_show('添加活动','{:url('NewActivitys/add')}',800,500)"><i class="layui-icon"></i>添加活动</button> -->
		</form>
		<span class="x-left" id="count" style="line-height:40px"></span>
      </div>
	  <table id="list">
	  </table>
    </div>
	<script>
		 layui.use(['table','laydate'], function(){
            var table = layui.table;
            var laydate = layui.laydate;

            //第一个实例
            var tableId = table.render({
                elem: '#list'
                ,height: 500
                ,url: "{:url('OperateSetting/getBlackList')}" //数据接口
                ,page: {
                    limits: [30,50,100,300,500,1000],
                    limit:30
                }
                ,toolbar: true
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols: [[ //表头
                {field: 'id', title: '运营商', templet: function(d){
                    return '代理';
                }}
                ,{field: 'ip', title: 'IP'}
                ,{field: 'username',  title: '操作人'}
                ,{field: 'create_at', title: '创建时间'}
                ,{field: 'note', title: '备注'}
                ,{field: 'id', title: '操作', templet: function(d) {
                    var edit_black_url = '{:url("OperateSetting/edit_black")}?id='+d.id;
                    var html = '';
                        html += '<button type="button" class="layui-btn" onclick="x_admin_show(\'编辑黑名单\',\''+edit_black_url+'\',800,500)">编辑</button>';
                        html += '<button type="button" class="layui-btn" onclick="delete_black(this,'+d.id+')">删除</button>';    
                        return html;
                }}
                ]]
                ,done: function(res, curr, count){
                    $('#count').html('共有数据：'+res.count+' 条');
                }
            });

            // $('#search').on('click',function() {

            //     var data = {};
            //         data.agent_id = $('#agent_id').val();
            //         data.where_column = $('#where_column').val();
            //         data.column_value = $('#column_value').val();
            //         data.role = $('#role').val();
            //         data.status = $('#status').val();
            //         data.channel_id = $('#channel_id').val();
            //         data.login_begin_time = $('input[name=login_begin_time]').val();
            //         data.login_end_time = $('input[name=login_end_time]').val();
            //         data.reg_begin_time = $('input[name=reg_begin_time]').val();
            //         data.reg_end_time = $('input[name=reg_end_time]').val();
            //         data.gold_where_id = $('#gold_where_id').val();
            //         data.gold_begin_value = $('#gold_begin_value').val();
            //         data.gold_end_value = $('#gold_end_value').val();
                    
            //     var url_str = '';
            //     for (i in data) {
            //         url_str += i +'='+ data[i] + '&';
            //     }
            //     url_str = url_str.substring(0, url_str.length - 1);
            //     tableId.reload({
            //         url: "{:url('member/getList')}?"+ url_str
            //     });
			// 	return false;
            // });
        });
	</script>
    <script>
        function delete_black(_this, id) {
            layer.confirm('确认要删除吗？',function(index){
                $.post("{:url('delete_black')}",{id:id},function(data){
                    if (data.status == 0) {
                        layer.alert(data.message, {icon: 6},function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(data.message);
                    }
                },'Json');
            });
        }
    </script>
  </body>
</html>
