<!DOCTYPE html>
<html>
  
	{include file="public/head" /}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/layui.min.js" integrity="sha512-jVlfkkRyCyrICx3iFs80jgim5Vmg2xVjAdBRCw/E/ZukJPYpjXfTyyiB1Y1gRsBeAC8CJ+jYIk0teYL4qV85gA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/css/layui.min.css" integrity="sha512-omRxviAbZbsRLmYjGYaOjLuafC5Jw17PYyg1eH4XaT5vWx+cOng6t+bq9VyjZBWrUuduYgYuIuD2d3MOz7S2dA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.layui-btn {background-color: #222d32;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #222d32;}
        .other-btn {
            font-size: 13px;
            width: 70px;
            padding: 0;
            margin: 0;
            height: 30px;
            line-height: 30px;
        }
        .info {
            text-decoration: underline;
            color: blue;
        }
        .layui-table-cell {
            height: 105px;
        }
	</style>
	<body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">代理管理</a>
        <a><cite>代理列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div>
            子运营商：
            <select id="agent_id" style="width: 150px; height:40px;">
                <option value="0">代理</option>
            </select>
            &nbsp;&nbsp;
            层级：
            <select id="level_id" style="width: 150px; height:40px;">
                <option value="0">顶级</option>
                <option value="1">非顶级</option>
                <option value="2">最底层</option>
            </select>
            &nbsp;&nbsp;
            用户ID：<input type="text" class="layui-input searchstr" style="width: 200px; display: inline-block;" placeholder="userid" id="uid" value="" />
            &nbsp;&nbsp;
            邀请ID：<input type="text" class="layui-input searchstr" style="width: 200px; display: inline-block;" placeholder="parentid" id="pid" value="" />
            <br /><br />
            未领佣金：
            <input type="text" class="layui-input searchstr" style="width: 100px; display: inline-block;" placeholder="from" id="commission_no_from" value="" />
            &nbsp;&nbsp;
            <input type="text" class="layui-input searchstr" style="width: 100px; display: inline-block;" placeholder="to" id="commission_no_to" value="" />
            &nbsp;&nbsp;
            已领佣金：
            <input type="text" class="layui-input searchstr" style="width: 100px; display: inline-block;" placeholder="from" id="commission_yes_from" value="" />
            &nbsp;&nbsp;
            <input type="text" class="layui-input searchstr" style="width: 100px; display: inline-block;" placeholder="to" id="commission_yes_to" value="" />
            &nbsp;&nbsp;
            <button class="layui-btn" id="search">搜索</button>
        </div>
        <form class="layui-form layui-col-md12 x-so" style="margin-top: 30px;">
			<!-- <button class="layui-btn" type="button" onclick="x_admin_show('添加活动','{:url('NewActivitys/add')}',800,500)"><i class="layui-icon"></i>添加活动</button> -->
		</form>
		<span class="x-left" id="count" style="line-height:40px"></span>
      </div>
	  <table id="list">
	  </table>
    </div>
	<script>
		 layui.use(['table','laydate'], function(){
            var table = layui.table;
            var laydate = layui.laydate;

             // 渲染时间选择器
             laydate.render({
                elem: '#begin_time',
                type: 'datetime',
                trigger: 'click'
            });
            laydate.render({
                elem: '#end_time',
                type: 'datetime',
                trigger: 'click'
            });

            //第一个实例
            var tableId = table.render({
                elem: '#list'
                ,height: 500
                ,url: "{:url('agents/getLists')}" //数据接口
                ,page: {
                    limits: [30,50,100,300,500,1000],
                    limit:30
                }
                ,toolbar: true
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols: [[ //表头
                {field: 'Id', title: '子运营商', fixed: 'left', templet: function(d){
                    return '代理';
                }}
                ,{field: 'Id', title: '用户ID', fixed: 'left'}
                ,{field: 'nickname',  title: '昵称', fixed: 'left'}
                ,{field: 'url',  title: '代理推广链接', fixed: 'left'}
                ,{field: 'qrcode',  title: '代理推广二维码', fixed: 'left', templet: function (d) {
                    if (d.qrcode) {
                        return '<div><img src="'+d.qrcode+'"></div>';
                    } else {
                        return '';
                    }

                        }}
                ,{field: 'Id', title: '代理信息', templet: function(d) {
                    var info = '{:url("agents/info")}?id='+d.Id;
                    return '<a href="#" onclick="x_admin_show(\'详情\',\''+info+'\',800,500)" class="info">详情</a>';
                }}
				,{field: 'channelType', title: '上级ID'}
                ,{field: 'level', title: '层级'}
                ,{field: 'no_performance', title: '未领佣金'}
                ,{field: 'history_performance', title: '历史佣金'}
                ,{field: 'team_size', title: '团队人数'}
                ,{field: 'team_number', title: '操作', templet: function(d) {
                    var daylistUrl = '{:url("agents/daylists")}?id='+d.Id;
                    return '<button type="button" class="layui-btn" onclick="x_admin_show(\'每日数据\',\''+daylistUrl+'\',800,500)">每日数据</button>';
                }}
                ]]
                ,done: function(res, curr, count){
                    $('#count').html('共有数据：'+res.count+' 条');
                }
            });

            $('#search').on('click',function() {
                var agent_id = $('#agent_id').val();
                var uid = $('#uid').val();
                var level_id = $('#level_id').val();
                var st = $('#subordinate_to').val();
                var pid = $('#pid').val();
                var cnf = $('#commission_no_from').val();
                var cnt = $('#commission_no_to').val();
                var cyf = $('#commission_yes_from').val();
                var cyt = $('#commission_yes_to').val();
                tableId.reload({
                    url: "{:url('agents/getLists')}?agent_id="+agent_id+"&uid="+uid+"&level_id="+level_id+"&pid="+pid+"&cnf="+cnf+"&cnt="+cnt+"&cyf="+cyf+"&cyt="+cyt
                });
				return false;
            });
        });
	</script>
    <script>
    </script>
  </body>
</html>