{{extend '../base/layout'}}
{{block 'css'}}
<link rel="stylesheet" href="/assets/css/deposit.css">
{{/block}}
{{block 'content'}}
<body>
<div class="container">
    <header class="header">
        <a href="#" class=""></a>
        <h1 class="biaoti">{{L('Deposits')}}</h1>
        <a href="#" class="close-btn"></a>
    </header>
    <div class="balance" style="display: none;">
        <span class="balance-label">{{L('Total Balance')}}</span>
        <div class="jine">
            <span class="balance-amount">₫ {{userInfo.coin}}</span>
        </div>
    </div>
    <div class="bizhong">
        <div class="vnd-text jianbianse">{{L('Deposit Money')}}</div>
        <div class="vnd-div">
            <span class="jianbianse">VND</span>
            <img src="/assets/images/vnd.png" alt="">
            <img class="xiangxia" src="/assets/images/fanhui.png" alt="" style="margin-right: 5vw">
        </div>
    </div>
    <div class="bizhong">
        <div class="vnd-text jianbianse">{{L('Payment Method')}}</div>
        <div class="vnd-div" onclick="backToChannel()">
            <span class="jianbianse">{{channelTitle}}</span>
            <img src="/assets/images/channel/channel_{{id}}.png" alt="">
            <img class="xiangxia" src="/assets/images/fanhui.png" alt="" style="margin-right: 5vw">
        </div>
    </div>
    <div class="deposit-input">
        <input type="number" name="amount" class="deposit_amount" id="deposit_amount" value="{{minDeposit}}">
        <input type="hidden" name="uid" class="curr_uid" value="{{userInfo.uid}}">
        <input type="hidden" name="encrypt_uid" class="encrypt_uid" value="{{encrypt_uid}}">
        <img class="clear-btn" src="/assets/images/guanbi2.png" alt="">
    </div>
    <div class="button-grid">
        {{each betCoinList item}}
        <button class="bet-coin-item-{{item.pay_max}} un_selected {{if item.selected == 1}}selected{{/if}}" data-id="{{item.id}}" data-amount="{{item.pay_max}}">
            {{item.pay_max}}
        </button>
        <input type="hidden" value="{{item.id}}_{{item.cash}}_{{item.cash_coin}}_{{item.cash_cash}}_{{item.give}}_{{item.give_coin}}_{{item.give_cash}}_{{item.pay_min}}_{{item.pay_max}}">
        {{/each}}
    </div>
    <div class="info-cash">
        <div class="info">
            <p>{{minDeposit}}-{{maxDeposit}}VND</p>
        </div>
        <div class="balances">
            <div class="balance-type">
                <span>{{L('Cash')}}</span>
                <span class="cash-balance-value">₫ 0</span>
            </div>
            <div class="balance-type">
                <span>{{L('Coin')}}</span>
                <span class="cash-bonus-value">₫ 0</span>
            </div>
        </div>
    </div>
    <div class="deposit-button">
        <button class="deposit-submit-button">{{L('Deposit Now')}}</button>
    </div>
    <div class="fengexian"></div>
    <div class="safety-tips">
        <img src="/assets/images/anquan.png" alt="">
        <span>
            {{L('You will be redirected to a third-party site that is authenticated by bc.game for the purpose of ensuring a safe and reliable web surfing experience')}}
        </span>
    </div>
    <div class="notice-div">
        <div>
            <span>1. </span>
            <span> {{L('Your transfer amount has to MATCH the submission amount')}}</span>
        </div>
        <div>
            <span>2. </span>
            <span> {{L('Each Order ID can ONLY be used once to avoid duplicates')}}</span>
        </div>
        <div>
            <span>3. </span>
            <span> {{L('DO NOT save and deposit to previous bank account Please follow the deposit guideline to make deposit otherwise your deposit will be missing')}}</span>
        </div>
    </div>
</div>
</body>
{{/block}}
{{block 'script'}}
<script>
    var discoin = "{{discoin}}";
    var disrate = "{{disrate}}";
    var uid = "{{uid}}";
    var token = "{{token}}";
    var id = "{{id}}";
    var maxDeposit = "{{maxDeposit}}";
    $('.deposit-submit-button').click(function () {
        var index = layer.load();
        var uid = $('.curr_uid').val();
        var amount = $('.deposit_amount').val();
        var encrypt_uid = $('.encrypt_uid').val();
        $.ajax({
            url: "/deposit/post",
            type: 'POST',
            data: {
                uid, amount, encrypt_uid, id, token
            },
            success: function (data) {
                if (data.code < 0) {
                    layer.close(index);
                    return alert_msg(data.msg);
                }
                window.location.href = data.data.url;
            }
        });
    });
    $('.button-grid button').click(function () {
        var selectAmount = $(this).attr('data-amount');
        $('.deposit_amount').val(selectAmount);
        $('.button-grid').find('button').removeClass('selected');
        $(this).addClass('selected');
        updateCashValue(selectAmount);
    });
    document.getElementById('deposit_amount').addEventListener('input', function() {
        var inputValue = this.value;
        if (!/^\d*$/.test(inputValue)) {
            // 如果不是整数，清除输入框内容
            this.value = inputValue.replace(/[^\d]/g, '');
        } else if (inputValue < 0) {
            this.value = Math.abs(inputValue);
        }
        this.value = parseInt(inputValue);
        if (this.value > parseInt(maxDeposit)) {
            this.value = parseInt(maxDeposit);
        }
        inputValue = this.value;
        $('.button-grid').find('button').removeClass('selected');
        updateCashValue(inputValue);
        $('.button-grid button.bet-coin-item-' + parseInt(inputValue)).click();
    });
    var betItemList = $('.button-grid input');
    var betCoinList = [];
    if (betItemList.length > 0) {
        for (let i = 0; i < betItemList.length; i++) {
            console.log(betItemList[i].value);
            betCoinList.push(betItemList[i].value);
        }
    }
    function updateCashValue(amount) {
        amount = parseInt(amount);
        if (!amount || amount === 0) {
            $('.cash-balance-value').text('₫ 0');
            $('.cash-bonus-value').text('₫ 0');
            return;
        }
        let cash_amount = 0, coin_amount = 0, flag = false;
        if (betCoinList.length > 0) {
            for (let j = 0; j < betCoinList.length; j++) {
                let itemVal = betCoinList[j].split('_');
                // id=itemVal[0],cash=itemVal[1],cash_coin=itemVal[2],cash_cash=itemVal[3],
                // give=itemVal[4],give_coin=itemVal[5],give_cash=itemVal[6],
                // pay_min=itemVal[7],pay_max=itemVal[8]
                if (amount >= itemVal[7] && amount <= itemVal[8]) {
                    flag = true;
                    cash_amount = Math.round(amount * itemVal[1] * itemVal[3]) + Math.round(amount * itemVal[4] * itemVal[6]);
                    coin_amount = Math.round(amount * itemVal[1] * itemVal[2]) + Math.round(amount * itemVal[4] * itemVal[5]);
                    break;
                }
            }
        }
        if (!flag) {
            cash_amount = amount;
        }
        $('.cash-balance-value').text('₫ ' + cash_amount);
        $('.cash-bonus-value').text('₫ ' + coin_amount);
    }
    $(function () {
        $('.button-grid').find('button.selected').click();
    });
    $('.clear-btn').click(function () {
        $('.deposit_amount').val('0');
        $('.button-grid').find('button').removeClass('selected');
        updateCashValue(0);
    });
    function backToChannel() {
        window.location.href = '/deposit?uid='+uid+'&token='+token;
    }
</script>
{{/block}}
