<!DOCTYPE html>
<html>
  
  {include file="public/head" /}
    
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>登录名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required="" lay-verify="username"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
         
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
		  
		  <!-- <div class="layui-form-item">
			<label class="layui-form-label"><span class="x-red">*</span>代理</label>
			<div class="layui-input-block" style="padding-top: 9px;">
			  <input type="checkbox" name="isdaili" lay-skin="switch">
			</div>
		  </div>
          <div class="layui-form-item">
			<label class="layui-form-label"><span class="x-red">*</span>顶级代理</label>
			<div class="layui-input-block" style="padding-top: 9px;">
			  <input type="checkbox" name="top_agent" lay-skin="switch">
			</div>
		  </div> -->
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  
		  <!-- <div class="layui-form-item">
		      <label class="layui-form-label">
		          <span class="x-red">*</span>玩家ID
		      </label>
		      <div class="layui-input-inline">
		          <input type="text" name="uid" required="" autocomplete="off" class="layui-input">
		      </div>
		      <div class="layui-form-mid layui-word-aux">
		          该代理游戏内玩家ID
		      </div>
		  </div> -->
		  
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            username: function(value){
              if(value.length < 5){
                return '账号至少5个字符';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            //console.log(data.field);
			//return false;
			$.ajax({
			   type: "POST",
			   url: "{:url('doAdd')}",
			   data: data.field,
			   success: function(msg){
				   if(msg == 'success'){
					   layer.alert("增加成功", {icon: 6},function () {
							// 获得frame索引
							var index = parent.layer.getFrameIndex(window.name);
							//关闭当前frame
							parent.layer.close(index);
							parent.location.reload();
					   });
				   }else{
						layer.msg(msg);
				   }
			   }
			});
			
            return false;
          });
          
          
        });
    </script>

  </body>

</html>