<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="__CSS__/font.css">
    <link rel="stylesheet" href="__CSS__/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="L_name" class="layui-form-label">
                <span class="x-red">*</span>等级名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_name" name="name" required
                       autocomplete="off" class="layui-input" placeholder="请输入名称">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_week_recharge_money" class="layui-form-label">
                <span class="x-red">*</span>周累计充值金额
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_week_recharge_money" name="week_recharge_money" required
                       lay-verify="number|money"
                       autocomplete="off" class="layui-input" min="0">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>金额必须大于0
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_month_recharge_money" class="layui-form-label">
                <span class="x-red">*</span>月累计充值金额
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_month_recharge_money" name="month_recharge_money" required
                       lay-verify="number|money"
                       autocomplete="off" class="layui-input" min="0">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>金额必须大于0
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_cash_out_money" class="layui-form-label">
                <span class="x-red">*</span>日提现金额上限
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_cash_out_money" name="cash_out_money" required
                       lay-verify="number|money"
                       autocomplete="off" class="layui-input" min="0">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>金额必须大于0
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_cash_out_num" class="layui-form-label">
                <span class="x-red">*</span>日提现次数上限
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_cash_out_num" name="cash_out_num" required
                       lay-verify="num"
                       autocomplete="off" class="layui-input" min="0">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>次数必须大于0
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            money: function (value) {
                if (!value) {
                    return '请填写金额'
                }
                if (value <= 0) {
                    return '金额不能小于等于0';
                }
            }
            , pass: function (value) {
                if (value.length > 16) {
                    return '16字符以下';
                }
                if (!value.match(/[0-9]+[a-zA-Z]+/) && !value.match(/[a-zA-Z]+[0-9]+/)) {
                    return '必须字母+数字组合';
                }
            }
            , num: function (value) {
                if (value <= 0) {
                    return '次数不能小于等于0';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function (data) {
            $.post("{:url('addUserGrade')}", data.field, function (res) {
                if (res.status == 1) {
                    layer.alert(res);
                } else {
                    layer.alert("增加成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                }
            })
            return false;
        });


    });
</script>

</body>

</html>