<!DOCTYPE html>
<html>
  
  {include file="public/head" /}
    
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">
                用户ID
            </label>
            <div class="layui-input-block">
                <input type="number" name="uid" required lay-verify="required"
                autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">
                中奖率
            </label>
            <div class="layui-input-block">
                <input type="number" name="chance" required lay-verify="required"
                autocomplete="off" class="layui-input">
            </div>
          </div>
		    
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //监听提交
          form.on('submit(add)', function(data){
            //console.log(data.field);
			//return false;
			$.ajax({
			   type: "POST",
			   url: "{:url('doAddbuyuuser')}",
			   data: data.field,
			   success: function(msg){
				   if(msg == 'success'){
					   layer.alert("增加成功", {icon: 6},function () {
							// 获得frame索引
							var index = parent.layer.getFrameIndex(window.name);
							//关闭当前frame
							parent.layer.close(index);
							parent.location.reload();
					   });
				   }else{
						layer.msg(msg);
				   }
			   }
			});
			
            return false;
          });
          
          
        });
    </script>

  </body>

</html>